* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #000000;
    width: 100%;
    height: 0px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;

}

.navbar {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    background: rgb(57, 38, 0);
    background: linear-gradient(0deg, rgba(57, 38, 0, 1) 0%, rgba(212, 142, 14, 1) 39%, rgba(62, 35, 0, 1) 100%);
    justify-content: space-between;
}

.navbar img {
    width: 100px;


}


.navbar1 span {
    margin-left: 50px;
}

.container {
    border: 3px;
    width: 100%;


}

.duvidas {
    display: flex;
    align-items: center;
}

.duvidas img {
    width: 30px;
}

.pesquisa {
    display: flex;
    width: 365px;
    position: relative;
}

.pesquisa input {
    padding: 15px;
    width: 350px;
    border-radius: 30px;
    border: 0;
}

.pesquisa img {
    width: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    right: 0%;

}

.pesquisa a {
    margin-left: -49px;
}

.slide {
    width: 100%;
    height: 600px;
    background: url("./imagens/nike.jpeg");
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #000000;
    width: 100%;
    height: 600px;

}

.anuncio {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 20px 0;
}

.anuncio img {
    width: 300px;
    margin: 10px 30px;
    cursor: pointer;
    transform: scale(0.8);
}

.anuncio img:hover {
    transform: scale(1);
}

.neonText {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 7px rgb(255, 255, 255),
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.container h1 {
    display: flex;
    justify-content: center;
    padding: 27px;

}

.container img {
    width: 300px;
    margin: 10px 30px;
}

#burguer {
    width: 38px;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 40px;
    cursor: pointer;
}

#burguer div {
    background-color: rgb(0, 0, 0);
    height: 8px;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    z-index: 2;

}

#burguer>div:nth-child(1) {}

#burguer>div:nth-child(2) {
    width: 80%;
}

#burguer>div:nth-child(3) {
    width: 60%;
}

#burguer:hover>div {
    width: 100%;
}

#burguer.active>div:nth-child(1) {
    transform: rotate(45deg) translateX(22px);
    background-color: #ca6d02;
}

#burguer.active>div:nth-child(2) {
    transform: rotate(135deg) translateX(-20px);
    width: 95%;
    background-color: #ca6d02;
}

#burguer.active>div:nth-child(3) {
    display: none;
}

#menu {
    position: absolute;
    background: #181818;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all linear 1s;
}



#menu.active {
    transform: translateX(0);
    z-index: 1;
}

#menu ul {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    display: inline-flex;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row
}

#menu a {
    color: #ca6d02;
}

#menu a:hover {
    color: #ca6d02
}

.swiper {
    width: 100%;
    height: 550px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.produto-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-item img {
    max-height: 460px;
}

.bt-comprar {
    padding: 10px;
    background-color: #f5b202;
    color: #000;
    text-decoration: none;
    width: 170px;
    border-radius: 10px;
    margin-top: -60px;
    font-weight: 600;
    transition: all ease-in-out .5s;
}

.bt-comprar:hover {
    background-color: #000;
    color: #f5b202;
}

.icones {
    display: flex;
    align-items: center;
    width: 190px;
    justify-content: space-between;
}

.bolsa a img {
    width: 55px;
}

.bola img {
    width: 60px;
    margin-right: 130px;
}

.selo img {
    width: 60px;
    margin-top: 380px;

}
.Descriçao{
    display: none;
}


@media screen and (max-width:480px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    nav {
        background-color: #000000;
        width: 100vw;
        height: 0vw;
        display: flex;
        color: #fff;
        justify-content: space-between;
        align-items: center;

    }

    .navbar {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        background: rgb(57, 38, 0);
        background: linear-gradient(0deg, rgba(57, 38, 0, 1) 0%, rgba(212, 142, 14, 1) 39%, rgba(62, 35, 0, 1) 100%);
        justify-content: space-between;
        flex-direction: column;
    }

    .navbar img {
        width: 50px;


    }


    .navbar1 span {
        margin-left: 50px;
    }

    .container {
        border: 3px;
        width: 50vw;
    }

    .duvidas {
        display: flex;
        align-items: center;
    }

    .duvidas img {
        width: 30px;
    }

    .pesquisa {
        display: flex;
        width: 365px;
        position: relative;
    }

    .pesquisa input {
        padding: 15px;
        width: 350px;
        border-radius: 30px;
        border: 0;
    }

    .pesquisa img {
        width: 20px;
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
        right: 0%;

    }

    .pesquisa a {
        margin-left: -49px;
    }

    .slide {
        width: 100%;
        height: 600px;
        background: url("./imagens/nike.jpeg");
        background-size: cover;
        background-position: center;
    }

    .container {
        background-color: #000000;
        width: 100%;
        height: 600px;

    }

    .anuncio {
        display: flex;
        justify-content: center;
        background-color: #000;
        padding: 20px 0;
        flex-direction: column;
    }

    .anuncio img {
        width: 300px;
        margin: 10px 30px;
        cursor: pointer;
        transform: scale(0.8);
    }

    .anuncio img:hover {
        transform: scale(1);
    }

    .neonText {
        color: rgb(255, 255, 255);
        text-shadow:
            0 0 7px rgb(255, 255, 255),
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
    }

    .container h1 {
        display: flex;
        justify-content: center;
        padding: 27px;

    }

    .container img {
        width: 300px;
        margin: 10px 30px;
    }

    #burguer {
        width: 38px;
        height: 38px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-right: 40px;
        cursor: pointer;
    }

    #burguer div {
        background-color: rgb(0, 0, 0);
        height: 8px;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
        z-index: 2;

    }

    #burguer>div:nth-child(1) {}

    #burguer>div:nth-child(2) {
        width: 80%;
    }

    #burguer>div:nth-child(3) {
        width: 60%;
    }

    #burguer:hover>div {
        width: 100%;
    }

    #burguer.active>div:nth-child(1) {
        transform: rotate(45deg) translateX(22px);
        background-color: #ca6d02;
    }

    #burguer.active>div:nth-child(2) {
        transform: rotate(135deg) translateX(-20px);
        width: 95%;
        background-color: #ca6d02;
    }

    #burguer.active>div:nth-child(3) {
        display: none;
    }

    #menu {
        position: absolute;
        background: #181818;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: all linear 1s;
    }



    #menu.active {
        transform: translateX(0);
        z-index: 1;
    }

    #menu ul {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-left: 20px;
        display: inline-flex;
        list-style: none;
        align-items: flex-start;
    }

    #menu ul li {
        margin: 20px;
    }

    #menu a {
        color: #ca6d02;
        text-decoration: none;
    }

    #menu a:hover {
        color: #ca6d02
    }

    .swiper {
        width: 100%;
        height: 550px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .produto-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .produto-item img {
        max-height: 460px;
    }

    .bt-comprar {
        padding: 10px;
        background-color: #f5b202;
        color: #000;
        text-decoration: none;
        width: 170px;
        border-radius: 10px;
        margin-top: -60px;
        font-weight: 600;
        transition: all ease-in-out .5s;
    }

    .bt-comprar:hover {
        background-color: #000;
        color: #f5b202;
    }

    .icones {
        display: flex;
        align-items: center;
        width: 190px;
        justify-content: space-between;
    }

    .bolsa a img {
        width: 55px;
    }

    .bola img {
        width: 60px;
        margin-right: 130px;
    }

    .selo img {
        width: 60px;
        margin-top: 380px;

    }
    .Descriçao{
        display: none;
    }

}
